# idea config
*.iml
.idea

# Raw Models
.link/*/*.npy
.link/*/*.npz
.link/*/*.pkl
.link/*/*.pth
.link/*/*.json
.link/*/*.params
.link/*/*.h5
.link/*/*.hdf5

# models
*.WLNet
*.WMLF
*.WXF

# Notebook
*.nb

