# idea config
*.iml
.idea

# Cache
*.cpy
*dump
report.m

# Compress
*.tar
*.gz

# Binary
*.npy
*.npz
*.pkl


# models
*.WLNet
*.WMLF
*.WXF
*.params
*-symbol.json
*.h5
*.hdf5
*.pth
*.pb
*.pbtxt
*.txt
*.mx
*.app
*.prototxt
*.caffemodel


# Notebook
*.nb
*.jupyter

# Picture
*.png
*.jpg
*.jpeg