# idea config
*.iml
.idea

# Cache
*.cpy
*dump
*.mx
report.m

# Raw Models
.link/*/*.npy
.link/*/*.npz
.link/*/*.pkl
.link/*/*.json

# models
*.WLNet
*.WMLF
*.WXF
*.params
*-symbol.json
*.h5
*.hdf5
*.pth
*.pb
*.pbtxt
*.txt

# Notebook
*.nb

# Picture
*.png
*.jpg
*.jpeg